extends ../layout

block content
    h1.
        Blob ID #{blob._id}
    p Name: #{blob.name}
    p Badge: #{blob.badge}
    p DOB: #{blobdob}
    p Company: #{blob.company}
    p Is Loved: #{blob.isloved}